# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# The directory Mix downloads your dependencies sources to.
/deps/

# Elixir build artifacts
_build